@font-face {
  font-family: "Gotham";
  src: local("Gotham"), url(./fonts/Gotham-Medium\ 500.ttf) format("truetype");
}

body {
  font-family: "Gotham", sans-serif;
}

.custom-profile-clicked {
  @apply flex items-center space-x-2 cursor-pointer text-green-500 text-3xl;
}

.custom-profile {
  @apply flex items-center space-x-2 cursor-pointer hover:text-green-500 text-3xl;
}

/* footer */
.custom-footer-h3 {
  @apply mb-4 mt-4 text-gray-400 text-xs font-black tracking-widest w-fit;
}

.custom-footer-p {
  @apply hover:text-green-500 text-base leading-6 font-normal cursor-pointer w-fit;
}

button:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) #1c75de !important;
}

.custom-plancard-button:focus {
  --tw-ring-offset-shadow: 0 0 0 3px white !important;
}

/* font-family: CircularSp,spotify-circular,Helvetica,Arial,sans-serif; */
@keyframes slideFromLeft {
  from {
    opacity: 0;
    transform: translateX(30%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.custom-sidenav {
  animation: slideFromLeft 250ms ease-out;
}

.custom-sidenav h3 {
  transform: translateX(120%);
  animation: slideFromLeft 100ms ease-out forwards;
}

.custom-sidenav .separator {
  transform: translateX(120%);
  animation: slideFromLeft 150ms ease-out forwards;
}

.custom-sidenav .logo {
  transform: translateX(120%);
  animation: slideFromLeft 400ms ease-out forwards;
}

.custom-sidenav h3:nth-child(1) {
  animation-delay: 270ms;
}

.custom-sidenav h3:nth-child(2) {
  animation-delay: 290ms;
}

.custom-sidenav h3:nth-child(3) {
  animation-delay: 310ms;
}

.custom-sidenav .separator {
  animation-delay: 330ms;
}

.custom-sidenav h3:nth-child(4) {
  animation-delay: 350ms;
}

.custom-sidenav h3:nth-child(5) {
  animation-delay: 370ms;
}

.custom-sidenav h3:nth-child(6) {
  animation-delay: 390ms;
}
